
@{
    ViewBag.Title = "DodajTrening";
}

<h2>DodajTrening</h2>
<p>@ViewBag.Message</p>
<form action="~/Trener/UpisiTrening" method="post">
    <table>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="Naziv" /></td>
        </tr>
        <tr>
            <td>Trajanje:</td>
            <td><input type="number" name="Trajanje" /></td>
        </tr>
        <tr>
            <td>Maksimalan broj posetilaca:</td>
            <td><input type="number" value="0" name="Max" /></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <select name="Tip" id="tip">
                    <option value="yoga">yoga</option>
                    <option value="kardio">kardio</option>
                    <option value="bodyPump">Body Pump</option>
                </select>
                
            </td>
        </tr>
        <tr>
            <td>Datum:</td>
            <td><input type="date" name="Vreme" value="@DateTime.Now" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Dodaj Trening" />
            </td>
        </tr>
    </table>
</form>

