@using WebProjekat.Models
@model  IEnumerable<FitnesCentar>
@{
    ViewBag.Title = "DodajTrenera";
}

<h2>DodajTrenera</h2>
<p>@ViewBag.Message</p>
<div>
    <form action="UpisiTrenera" method="post">
        <table>
            <tr>
                <td>Korisnicko ime:</td>
                <td><input type="text" name="KorIme" /></td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td><input type="password" name="Lozinka" /></td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="Ime" /></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="Prezime" /></td>
            </tr>
            <tr>
                <td>Pol:</td>
                <td>
                    <select name="pol" id="polovi">
                        <option value="Muski">Muski</option>
                        <option value="Zenski">Zenski</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Fitnes Centri:</td>
                <td>
                    <select name="FitnesCentri" id="centri">
                        @foreach (var i in Model)
                        {
                            if (i.Obrisan == false)
                            {
                             <option value="@i.Naziv">@i.Naziv</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="Email" /></td>
            </tr>
            <tr>
                <td>Datum rodjenja:</td>
                <td><input type="date" name="DatRodj" value="2022-07-22" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Registruj se" />
                </td>
            </tr>
        </table>
    </form>
</div>
